go 1.21.6

use (
	"./Pekan 1/formative-2"
	"./Pekan 1/formative-3"
	"./Pekan 1/formative-4"
	"./Pekan 1/formative-5"
	"./Pekan 2/formative-10"
	"./Pekan 2/formative-6"
	"./Pekan 2/formative-7"
	"./Pekan 2/formative-8"
	"./Pekan 2/formative-9"
	.
)
